{% extends 'home.html' %}

{% block title %}About Us - Django Auth{% endblock %}

{% block content %}
    <h2>About Us</h2>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h3>Hello {{ user }} </h3>
            <p>We have {{ user_amount }} user(s) and {{ contact_amount }} contact(s)</p>
        {% else %}
            <h3>Hello {{ user }} </h3>
            <p>{{ greeting_text }} Now is {{ now }}</p>
        {% endif %}
    {% else %}
        <p>{{ greeting_text }}</p>
    {% endif %}
{% endblock %}