{% extends 'home.html' %}

{% block title %}List{% endblock %}

{% block content %}
    <h3>Contact List</h3>
{#    <a href="{% url 'create_contact' %}">Create New Contact</a>#}

    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <ul>
                {% for contact in contacts %}
                    <li>{{ contact.name }}</li>
                    <ul>
                        {% for contact_tdata in contact.contactdata_set.all %}
                            <li>{{ contact_tdata.data_type.name }}: {{ contact_data.value }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ info_message }}</p>
        {% endif %}
    {% else %}
        <p>{{ login_prompt }}</p>
    {% endif %}
{% endblock %}
