{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block menu %}
    {% if user.is_superuser %}
        <div>
            <nav>
                <ul>
                    <li><a href="{% url 'basic:about' %}">About Us</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a href="{% url 'contacts:contact_list' %}">Contact list</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <form method="get" action="{% url 'contacts:create_contact' %}">
                {% csrf_token %}
                <button type="submit">Create contact</button>
            </form>
        </div>
    {% else %}
        <nav>
            <ul>
                <li><a href="{% url 'basic:about' %}">About Us</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'contacts:contact_list' %}">Contact list</a></li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Home</h2>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'basic:signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}